button {
    padding: 10px 15px;
    border: none;
    border-radius: 2px;
    color: white;
    cursor: pointer;
    background-color: var(--color-orange);
}

button[data-variant="secondary"] {
    background-color: var(--color-turquoise);
}