a {
    --color: var(--color-bark);
    cursor: pointer;
    display: inline-block;
    position: relative;
    color: var(--color);
}

a[data-variant="teal-bullet"] {
    --color: var(--color-teal);
    text-decoration: none;
}

a[data-variant="teal-underline"] {
    --color: var(--color-teal);
    text-decoration: underline;
}

a[data-variant="bark-bullet"] {
    --color: var(--color-bark);
    text-decoration: none;
}

a[data-variant="teal-bullet"]::before, a[data-variant="bark-bullet"]::before {
    display: inline-block;
    content: '';
    width: 0px;
    height: 0px;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-left: 5px solid var(--color);
    margin-right: 5px;
}

